.cta_card {
  height: 200px;
  position: relative;
  border-radius: 0.3rem;
}

@media screen and (min-width: 1440px) {
  .cta_container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
  }

  .cta_container_focus_first {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: 1fr;
  }

  .cta_container_focus_second {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr;
  }

  .cta_container_focus_third {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    grid-template-rows: 1fr;
  }

  .cta_card:not(:last-child) {
    margin-right: 20px;
  }
}
