.navbar_container {
  position: fixed;
  display: flex;
  width: 100%;
  background-color: white;
  transition: background-color 1s ease;
  border: none;
  z-index: 100;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.navbar_main_container {
  display: grid;
  grid-template-rows: 1fr;
  width: 100%;
}

.navbar_links_container {
  display: none;
}

.navbar_menu {
  position: relative;
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
  margin-right: 5px;
}

.mobile_nav_menu_container {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 3;
  background-color: #f2f4f5;
  transition: top 1s ease;
  min-height: 100vh;
  box-shadow: 3px 3px 10px rgb(0 0 0 0);
}

.mobile_nav_main_link {
  background-color: transparent;
  border: none;
  white-space: nowrap;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  /* margin: 20px 20px 0 20px; */
}

.mobile_nav_submenu {
  display: flex;
  flex-direction: column;
  background-color: white;
  padding: 15px 15px 15px 15px;
}

.navbar_icon {
  z-index: 2;
  margin-right: 5px;
  font-size: 40px;
}

.navbar_main_link {
  display: flex;
  align-items: center;
}

.navbar_main_link > span {
  display: none;
}

.navbar_main_link > div:hover {
  color: var(--mainPurple);
}

.navigation_button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: "transparent";
  font: var(--ctaFont);
  font-size: 1.2em;
  font-weight: bold;
  margin: 0 5px;
  text-decoration: none;
  transition: all 0.5s ease;
}

.navigation_button:hover {
  color: var(--mainPurple);
  background-color: var(--mainCream);
  border-radius: 0.3rem;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}

.navigation_button_sub_menu {
  display: flex;
  flex-direction: column;
  background-color: white;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  border-radius: 0.3rem;
  padding: 15px 15px 15px 15px;
  margin-bottom: 0;
  box-sizing: unset;
  width: 100%;
}

@media screen and (min-width: 1440px) {
  .navbar_main_container {
    display: grid;
    grid-template-columns: 1fr 40px;
  }

  .navbar_links_container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    margin-bottom: 0;
  }

  .navbar_menu {
    display: none;
  }

  .mobile_nav_menu_links_hidden > button {
    display: none;
  }

  .mobile_nav_menu_links_show > button {
    display: none;
  }

  .navbar_icon {
    font-size: 20px;
  }

  .navbar_main_link > span {
    display: block;
  }

  .navigation_button {
    padding: 0 5px 0 5px;
  }
}
