:root {
  --purple: rgba(79, 38, 91, 1);
  --lightBlue: rgb(102, 212, 205);
}

.custom_carousel > div > ol > li {
  background-color: black;
}

.container_page {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
}

.content_page {
  grid-column-start: 2;
}

.custom_btn {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 75px;
  /* height: 40px; */
  background: #ff888c;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  /* font-size: 16px; */
  padding: 8px;
}

@media screen and (min-device-width: 1440px) {
  .container_page {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
  }
}
