:root {
  --mainPurple: rgba(166, 83, 157, 1);
  --mainPurple80: rgba(166, 83, 157, 0.8);
  --mainOrange: rgba(255, 190, 113, 1);
  --mainFontThin: {
    font-family: RobotoThin;
    src: url("./assets/fonts/Roboto-Thin.ttf");
  }
  --mainFontMedium: {
    font-family: RobotoMedium;
    src: url("./assets/fonts/Roboto-Medium.ttf");
  }
  --mainFontBold: {
    font-family: RobotoBold;
    src: url("./assets/fonts/Roboto-Bold.ttf");
  }
  --ctaFont: {
    font-family: alata;
    src: url("./assets/fonts/alata-regular.ttf");
  }
}

.custom_carousel > div > ol > li {
  background-color: black;
}

.container_page {
  display: grid;
  grid-template-columns: 1fr 10fr 1fr;
}

.content_page {
  grid-column-start: 2;
}

.divider {
  background-image: url(./assets/svg/RadiantCirc.svg);
}

.inverted_divider {
  background-image: url(./assets/svg/RadiantCircInvertColor.svg);
}

.custom_btn {
  align-self: center;
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 75px;
  /* height: 40px; */
  background: #ff888c;
  border-radius: 5px;
  color: white;
  font-weight: 700;
  /* font-size: 16px; */
  padding: 8px;
}

@media screen and (min-device-width: 1440px) {
  .container_page {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
  }
}
