@font-face {
  font-family: RobotoThin;
  src: url("./assets/fonts/Roboto-Thin.ttf");
}

@font-face {
  font-family: RobotoLight;
  src: url("./assets/fonts/Roboto-Light.ttf");
}

@font-face {
  font-family: RobotoRegular;
  src: url("./assets/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: RobotoMedium;
  src: url("./assets/fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: RobotoBold;
  src: url("./assets/fonts/Roboto-Bold.ttf");
}

@font-face {
  font-family: Alata;
  src: url("./assets/fonts/alata-regular.ttf");
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "RobotoLight";
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
